# Auto detect text files and perform LF normalization
* text=auto

# Enforce LF for key text file types
*.py    text eol=lf
*.html  text eol=lf
*.css   text eol=lf
*.js    text eol=lf
*.json  text eol=lf

# Exclude Python virtual environment from generated archives
.venv/** export-ignore
